/*  Start Variables  */

:root{
    --main-color:#19c8fa;
    --main-backgroun:#00aeef;
}

/*  End Variables  */

/*  Start Gloable Rules  */

*{
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    padding:0;
    margin:0;
}

body{
    font-family: 'Cairo', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

html{
    scroll-behavior:smooth;
}

ul{
    list-style:none;
}

.container{
    padding:0 15px;
    margin:0 auto;
}

/*  Small Screen  */

@media (min-width:768px) { 
    .container{
        width:750px;
    }
 }
/*  Mediam Screen  */

@media (min-width:992px) { 
    .container{
        width:970px;
    }
 }
/*  Larg Screen  */

@media (min-width:1200px) { 
    .container{
        width:1170px;
    }
}

/*  End Gloable Rules  */
/*  Start Header  */
header{
    position: relative;
    z-index: 1;
}

header .container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

header .logo{
    flex-basis:200px;
}

header .links{
    display:flex;
    align-items:center;
    flex:1;
    justify-content: flex-end;

}

header .links nav{
    position:relative;
}

header .links nav ul{
    display:flex;
}

header .links nav ul li{
    padding:40px 10px;
}

header .links nav ul li a{
    text-decoration:none;
    color:white;
    text-transform:uppercase;
    transition: 0.6s;
}

header .links nav ul li a.active,
header .links nav ul li a:hover{
    color:black;
}

header .links button{
    background: none;
    padding:15px 30px;
    border:none;
    background-color: white;
    border-radius:30px;
    cursor:pointer;
    transition: 0.9s;
    margin-left:30px;
}
@media (max-width:991px) {
    header .links button {
        display:none;
    }

    header .links nav ul li {
        padding:40px;
    }

    header .links nav ul li a{
        font-size:15px;
    }
}

header .links button:hover{
    background-color: black;
    color:white;
}

header .back{
    position:absolute;
    right:0;
    top:0;
    background-color: var(--main-backgroun);
    height:70px;
    width:72%;
    z-index:-1;
    border-bottom:100px solid var(--main-backgroun);
    border-left:80px solid white;
    min-height:100%;
}

@media (min-width:767px) {
    header .links .alwan{
        display:none;
    }
}

@media (max-width:767px) {
    header .links nav ul{
        display:none;
    }
    header .links .alwan{
        margin:30px;
        color:white;
        border:2px solid white;
        padding:5px 10px;
        cursor:pointer;
        transition:0.9s;
    }

    header .links .alwan:hover + ul{
        display: flex;
        flex-direction: column;
        position:absolute;
        top:100%;
        width:100%;
        left:0;
        background-color:#1ab5ef;
    }
    header .back{
        width:100%;
        border:none;
    }
    header .container{
        display:block;
    }
    header .links{
        display:block;
        text-align:right;
    }
    header .links nav{
        width:100%;
    }
    header .links .alwan:hover + ul li{ 
        padding:20px;
    }
}

/*  End Header  */

/*  Start Slider  */
.slider{
    background-image: url('../images/banner.jpg');
    background-size: cover;
    height:calc( 100vh - 98.38px );
    position:relative;
}

.slider .container{
    position:relative;
}

.slider h1{
    font-size:50px;
    margin-left:-300px;
    position:absolute;
    left:50%;
    top:40%;
    text-align: center;
}
@media (max-width:767px) {
    .slider h1{
        font-size:30px;
        margin: 0px -179px;
    }
}

.slider h1 span{
    color:var(--main-backgroun);
    font-weight:normal;
}

.slider button{
    position:absolute;
    left:50%;
    transform:translateX( -50% );
    background: none;
    padding:15px 30px;
    border:none;
    background-color: var(--main-backgroun);
    border-radius:30px;
    cursor:pointer;
    transition: 0.9s;
    margin-left:30px;
    color:white;
    top:70%;
    margin:auto;
}

.slider button:hover{
    background-color: black;
}

.slider ul{
    position:absolute;
    left:50%;
    transform:translateX( -50% );
    bottom:50px;
    display:flex;
    margin:2px auto;
}

.slider ul li{
    margin:2px 0 2px 5px;
    width:20px;
    height:20px;
    background-color: white;
    border-radius:50%;
}

.slider .active{
    background-color: var(--main-backgroun);
}

/*  End Slider  */

/* Start About  */
.About{
    padding:60px 0;
}

.About .container{
    display:flex;
    align-items: center;
    background-image: url( "../images/ab_bg.png" );
}

@media (max-width:767px) {
    .About .container {
        flex-wrap:wrap;
    }
}


.About .text h1{
    font-size:50px;
}

.About .text h1 span{
    border-bottom:10px solid var(--main-backgroun);
}

.About .text p{
    line-height: 2;
    font-size:18px;
    margin-bottom:50px;
}

.About .text button{
    background:none;
    background-color:white;
    border:3px solid var(--main-backgroun);
    padding:15px 40px;
    border-radius:30px;
    color:#777;
    position:relative;
    transition:0.9s;
}

.About .text button:hover{
    background-color: var(--main-backgroun);
    color:white;
    cursor: pointer;
}

.About .text button::after{
    font-family:'Font Awesome 6 Free';
    content:'\f061';
    font-weight:900;
    font-size:16px;
    padding-left:10px;
}

.About .images{
    cursor:pointer;
}

@media (max-width:767px) {
    .About .images img{
        width:90%;
        margin:40px auto;
    }
    .About .text h1{
        font-size:40px;
    }
}

/* End About  */

/*  Start mobile  */
.mobile{
    background-image: url( "../images/mo_bg.jpg" );
    background-size: cover;
    min-height:120px;
}

.mobile .container{
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-wrap:wrap;
    text-align:center;
}

.mobile .images{
    width:400px;
    flex-basis:400px;
    margin:50px auto 10px;
}

.mobile .images img{
    width:100%;
}

.mobile .text{
    flex:1;
    color:white;
    text-align: right;
    margin-bottom:30px
}
@media (max-width:767px) {
    .mobile .text{
        text-align:center;   
    }
}
.mobile .text h1{
    font-size:40px;
    position:relative;
}
@media (max-width:767px) {
    .mobile .text h1{
        font-size:30px;
        margin-bottom:40px;
    }
}
.mobile .text h1 span{
    border-bottom:10px solid var(--main-backgroun);
}

.mobile .text p{
    line-height: 2;
    font-size:18px;
    margin-bottom:50px;
}

.mobile .text button{
    background:none;
    border:3px solid white;
    padding:15px 40px;
    border-radius:30px;
    color:white;
    position:relative;
    transition:0.9s;
}

.mobile .text button:hover{
    background-color: var(--main-backgroun);
    color:white;
    cursor: pointer;
}

.mobile .text button::after{
    font-family:'Font Awesome 6 Free';
    content:'\f061';
    font-weight:900;
    font-size:16px;
    padding-left:10px;
}

/*  End mobile  */

/*  Start Say  */
.Say{
    padding:60px 0;
    text-align:center;
}

.Say h1{
    font-size:50px;
    margin-bottom:50px;
}
@media (max-width:767px) {
    .Say h1{
        font-size:40px;
    }
}
.Say h1 span{
    border-bottom:10px solid var(--main-backgroun);
}

.Say p{
    line-height:2.5;
    color:#777;
    padding:30px;
    background-color: #e2e3e3;
    border-radius:15px;
    margin-bottom:100px;
    position:relative;
}

.Say p::after{
    content:'';
    position:absolute;
    border-width:30px;
    border-style:solid;
    border-color:#e2e3e3 transparent transparent transparent;
    bottom:-60px;
    left:50%;
    transform:translateX( -50% );
}

.Say h2{
    font-weight:normal;
    margin:10px auto;
}

.Say h3{
    font-weight:normal;
    margin:20px auto;
    color:var(--main-backgroun);
}

.Say button{
    background: none;
    background-color:white;
    border:2px solid var(--main-backgroun);
    padding:15px 30px;
    border-radius:30px;
    color:#777;
    transition:0.9s;
    cursor:pointer;
}

.Say button:hover{
    background-color: var(--main-backgroun);
    color:white;
}

/*  End Say  */

/*  Start footer  */
footer{
    background-color: #042431;
    color:white;
    text-align:center;
    padding:60px 0;
}

footer h1{
    font-size:35px;
}

footer form:first-of-type{
    margin:70px 0;
}

footer input,
footer textarea{
    display:flex;
    margin:20px auto;
    width:450px;
    background: none;
    border:none;
    border-bottom:2px solid white;
    color:white;
    padding:20px 20px 20px 0;
}

@media (max-width:767px){
    footer input,
    footer textarea{
    width:100%;
}
}

footer input,
footer textarea:focus{
    outline:none;
}

footer ::placeholder{
    color:white;
}

footer input[type = "submit"]{
    border:4px solid var(--main-backgroun);
    width:150px;
    border-radius:30px;
    text-align:center;
    display:flex;
    justify-content:center;
    padding:12px 20px;
    transition:0.9s;
    margin-top:50px;
}

footer input[type = "submit"]:hover{
    background-color:var(--main-backgroun);
}

footer .sub{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

footer .sub h4{
    margin-top:40px;
    text-align:left;
}

footer .sub form{
    margin-top:0;
    display:flex;
    position:relative;
}

footer .sub form input[type = "email"]{
    border-bottom:2px solid #757575;
}

footer .sub form input[type = "submit"]{
    position:absolute;
    right:-10px;
    top:-27px;
}

footer .sub form ::placeholder{
    color:#757575;
}

footer .sub .icon h3{
    text-align:left;
    margin-bottom:15px;
}

footer .sub .icon li{
    margin:10px 0;
    color:#757575;
}

@media (max-width:767px) {
    footer .sub{
        flex-direction:column;
    }
    footer .sub form input[type = "submit"]{
        position:absolute;
        top:60px;
        left:50%;
        transform:translateX( -50% );
    }
    footer .sub .icon h3{
        margin-top:40px;
    }
}
/*  Start footer  */

/*  Start finsh  */
.finsh{
    padding:10px 0;
    background-color: var(--main-backgroun);
    color:white;
    text-align:center;
}



/*  End finsh  */